
section.freelancer{
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://debanjan-18.github.io/Debanjanghosh/photo17.jpg);
  color: var(--pure);
  clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 75%, 0 100%);
  padding-bottom: 12rem;
  align-items: center;
}
 section.freelancer h1{
   font-size: 2rem;
   margin-bottom: 0.5rem;
 }
 section.freelancer p{
   margin-bottom: 2rem;
   font-family: 'lato',sans-serif;
 }
